.navbar{
    background-color: #1fb9b9;
    border-radius: 30px;
    margin: 0px;

}
.navbar ul{
    overflow:auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 16px 12px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 5px 5px;
}

.navbar li a:hover{
    color:#1fb9b9;
    background-color:#fff;
    border-radius: 15px;
}
.search{
float: right;
color: white;
padding: 15px 17px;

}

.navbar ul input{
    padding: 2px;
    border-radius: 15px;
    width: 226px;
}

